<% provide(:title, "Donations") %>
<div id="particles-js"></div>
<div class="donations-container">
  <h2>Help the Crypto Community by Helping Us.</h2>
  <p>Our Mission is to deliver technical blockchain knowledge, transforming it to an everyday language, while rewarding the community that helps build our vision.</p>
  <div class="donations-container__button-container">
    <a href="" class="coinbase-button primary-small">
      <%=image_tag("coinbase-icon.png")%>
      <p>Donate with Coinbase</p>
    </a>
    <a href="" class="venmo-button primary-small">
      <%=image_tag("venmo-icon.png")%>
      <p>Donate with Venmo</p>
    </a>
    <a href="" class="paypal-button primary-small">
      <%=image_tag("paypal-icon.png")%>
      <p>Donate with PayPal</p>
    </a>
  </div>
  <div class="contribute-container-background">
		<div class="contribute-container">
			<a href="/donations" class="contribute-container__submit-button secondary-small">
				Help the Community - Donate
			</a>
		</div>
	</div>
</div>
