<% provide(:title, "Moderator Handbook") %>
<h1>Moderator Handbook Outline</h1>

Scope: The goal of this handbook to outline the responsibilities for all page moderators and help understand site rules and regulations.
Moderator Rules (Rule of Law)
Moderators can only “moderate 10 pages at 1 time)
Moderators can not receive any award on your own coin other than the moderator percentage
Collusion of any kind shall be an immediate grounds for termination of moderators position and will be prosecuted as (theft?) to the fullest extent of the law.
I.e. Giving awards to a known associate or friend
I.e. Giving awards that will somehow benefit you
Moderator must check in once week. If the page is neglected, the moderator will           be on grounds for termination.
Moderators must follow all rules laid described below.
2) Introduction to a Moderator
       --How to become a Moderator
Apply here (hyperlink)
       --How moderators are chosen
Moderators are chosen based on qualifications.
If a new user requests to become a moderator with higher qualifications, that user may become the new moderator. Previous moderator history, tenure, and activeness will be taken into account. 
Moderator applications with close proximity to coin’s team, will have higher priority. 
Moderators are subject to removal at any time by any BYC superuser.
Examples in which moderators may be removed:
Lack of coin knowledge
Lack of activity
Not maintaining responsibilities
Violating moderator handbook
Unprofessional
      -- The importance of a Site Moderator
To maintain an easy to read, organized, up to date coin page. 
The page must be free of grammatical errors. 
The page must have Fluent transitions 
Moderator Bio 
Moderator Bio’s are necessary for every coin page
The Bio acts as a short resume for page viewers and editors.  
Provide relevance on how you are the coin expert.


2) Section one rules 
       --Page Creation
 3% of each page is awarded to section one.
Section one is mandatory to fill out upon completion of a new page.
These percentage points given are always allocated to the individual who created the page
The individual who completed section one will receive the payout for a one year period.   
       -- Editing Section One 
Any user with an account can suggest edits 
Any edit/update in section one will not receive a reward (Most of section 1 information will not change)
     -- Moderator’s responsibilities on this page
Keep section one up to date with relevant information and change suggested edits

3) Section two rules 
    -- Breakdown
20% of each page is awarded to section two
Section two is comprised of 4 questions worth 5%
Each question will be further divided on basis of most content to least content.  It is the moderators job to divi up percentage based on material provided.  
Each question can be broken down into 1%, totaling up to 5 rewards per question.
Between 1-5 people can be awarded per page
    -- Moderator Responsibilities
Keep section two up to date with relevant information and change suggested edits
4) Roadmap rules
      --Payout 
    a)10% of a each page is awarded to the roadmap
    b) A total of 10 events will receive a reward at one time, each receiving 1%
    c) The 7 future events and the previous 3 events from the time of payout will receive 1%
      -- Voting
Any user can “upvote” or “downvote” an event
If an event receives a vote less than 40%, it will become inactive and will not receive a percent.
An inactive event will remain on the timeline, but will not receive payout until above 40%.
     -- Moderator Responsibilities
Approve user-added events 
Remove events with less than 25% approval, after 10 total user votes






What happens if a section isn’t paid out?

Legal ramifications section(Rule of Law) 

Examples 

FAQ Section

For section one 

Section one is filled out upon completion of a page.  The information and percentage points given our allocated to the person associated with the page’s creation.  Will not change until the end of a two year period.   Editors will have the option to suggest edits for this section but will not receive any credit. Moderators job to make potential edit changes and keep section up to date.  



For example 
    Editor 1 added 4 lines 
Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    Editor 2 added two lines 
Bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb

Scenario one 
The content in each was equal to the amount of lines written.  Then in this case Editor one would get twice as much as editor two. 

Scenario two 
Editor 2’s information is more concise and important to the thesis of the section.  Editor 1 has a lot of filler information but content is still relevant and should be included.  Editor two and editor one might get an equal percentage, Editor two might get a higher percentage, editor two might get more than the the 2:1 ratio demonstrated thru the amount of lines.  

