.sprite {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: 976px 942px;
  background: url("coin-logo-spritesheet.png");
}

.sprite-0x {
background-position: -40px -5px;
}

.sprite-leocoin {
background-position: -5px -5px;
}

.sprite-2give {
background-position: -5px -40px;
}

.sprite-300token {
background-position: -40px -40px;
}

.sprite-808coin {
background-position: -75px -5px;
}

.sprite-8bit {
background-position: -75px -40px;
}

.sprite-BilShares {
background-position: -5px -75px;
}

.sprite-BlockShares {
background-position: -40px -75px;
}

.sprite-Ixcoin {
background-position: -75px -75px;
}

.sprite-J1wuW41H {
background-position: -110px -5px;
}

.sprite-MONACOINtop {
background-position: -110px -40px;
}

.sprite-achain {
background-position: -110px -75px;
}

.sprite-zilliqa {
background-position: -5px -110px;
}

.sprite-adex {
background-position: -40px -110px;
}

.sprite-adtoken {
background-position: -75px -110px;
}

.sprite-adzcoin {
background-position: -110px -110px;
}

.sprite-aelf {
background-position: -145px -5px;
}

.sprite-aeon {
background-position: -145px -40px;
}

.sprite-aerome {
background-position: -145px -75px;
}

.sprite-aeternity {
background-position: -145px -110px;
}

.sprite-agorastokens {
background-position: -5px -145px;
}

.sprite-aiden {
background-position: -40px -145px;
}

.sprite-aidoskuneen {
background-position: -75px -145px;
}

.sprite-aion {
background-position: -110px -145px;
}

.sprite-airswap {
background-position: -145px -145px;
}

.sprite-ambercoin {
background-position: -180px -5px;
}

.sprite-anc_icon {
background-position: -180px -40px;
}

.sprite-anoncoin {
background-position: -180px -75px;
}

.sprite-antshares {
background-position: -180px -110px;
}

.sprite-apicoin {
background-position: -180px -145px;
}

.sprite-applebyte {
background-position: -5px -180px;
}

.sprite-applecoin {
background-position: -40px -180px;
}

.sprite-apx {
background-position: -75px -180px;
}

.sprite-aragon {
background-position: -110px -180px;
}

.sprite-archcoin {
background-position: -145px -180px;
}

.sprite-arcticcoin {
background-position: -180px -180px;
}

.sprite-ardor {
background-position: -215px -5px;
}

.sprite-ark {
background-position: -215px -40px;
}

.sprite-artbyte {
background-position: -215px -75px;
}

.sprite-asch {
background-position: -215px -110px;
}

.sprite-asiacoin {
background-position: -215px -145px;
}

.sprite-atmchain {
background-position: -215px -180px;
}

.sprite-atmos {
background-position: -5px -215px;
}

.sprite-atomic {
background-position: -40px -215px;
}

.sprite-aud {
background-position: -75px -215px;
}

.sprite-augur {
background-position: -110px -215px;
}

.sprite-aurora {
background-position: -145px -215px;
}

.sprite-bancor {
background-position: -180px -215px;
}

.sprite-bancornetwork {
background-position: -215px -215px;
}

.sprite-banx {
background-position: -250px -5px;
}

.sprite-basicattentiontoken {
background-position: -250px -40px;
}

.sprite-basicattentiontoken {
background-position: -250px -75px;
}

.sprite-bata {
background-position: -250px -110px;
}

.sprite-batcoin {
background-position: -250px -145px;
}

.sprite-bcap {
background-position: -250px -180px;
}

.sprite-belacoin {
background-position: -250px -215px;
}

.sprite-betacoin {
background-position: -5px -250px;
}

.sprite-binancecoin {
background-position: -40px -250px;
}

.sprite-bitGold {
background-position: -75px -250px;
}

.sprite-bitasean {
background-position: -110px -250px;
}

.sprite-bitbar {
background-position: -145px -250px;
}

.sprite-bitbay {
background-position: -180px -250px;
}

.sprite-bitbean {
background-position: -215px -250px;
}

.sprite-bitcny {
background-position: -250px -250px;
}

.sprite-bitcoin {
background-position: -285px -5px;
}

.sprite-bitcoincash {
background-position: -285px -40px;
}

.sprite-bitcoindark {
background-position: -285px -75px;
}

.sprite-bitcoindiamond {
background-position: -285px -110px;
}

.sprite-bitcoingold {
background-position: -285px -145px;
}

.sprite-bitcoinplus {
background-position: -285px -180px;
}

.sprite-bitcoinprivate {
background-position: -285px -215px;
}

.sprite-bitcointx {
background-position: -285px -250px;
}

.sprite-bitconnect {
background-position: -5px -285px;
}

.sprite-bitcore {
background-position: -40px -285px;
}

.sprite-bitcrystals {
background-position: -75px -285px;
}

.sprite-bitdeal {
background-position: -110px -285px;
}

.sprite-bitgem {
background-position: -145px -285px;
}

.sprite-bitland {
background-position: -180px -285px;
}

.sprite-bitlux {
background-position: -215px -285px;
}

.sprite-bitmark {
background-position: -250px -285px;
}

.sprite-bitpark-coin {
background-position: -285px -285px;
}

.sprite-bitquence {
background-position: -320px -5px;
}

.sprite-bitshares pts {
background-position: -320px -40px;
}

.sprite-bitshares {
background-position: -320px -75px;
}

.sprite-bitsharespts {
background-position: -320px -110px;
}

.sprite-bitsharesx {
background-position: -320px -145px;
}

.sprite-bitstake {
background-position: -320px -180px;
}

.sprite-bitstar {
background-position: -320px -215px;
}

.sprite-bitswift {
background-position: -320px -250px;
}

.sprite-bitusd {
background-position: -320px -285px;
}

.sprite-blackcoin {
background-position: -5px -320px;
}

.sprite-blackmooncrypto {
background-position: -40px -320px;
}

.sprite-blitz {
background-position: -75px -320px;
}

.sprite-blitzcash {
background-position: -110px -320px;
}

.sprite-blocknet {
background-position: -145px -320px;
}

.sprite-blockpay {
background-position: -180px -320px;
}

.sprite-blockv {
background-position: -215px -320px;
}

.sprite-bluecoin {
background-position: -250px -320px;
}

.sprite-boolberry {
background-position: -285px -320px;
}

.sprite-boomcoin {
background-position: -320px -320px;
}

.sprite-boostcoin {
background-position: -355px -5px;
}

.sprite-bottlecaps {
background-position: -355px -40px;
}

.sprite-breakout {
background-position: -355px -75px;
}

.sprite-breakoutstake {
background-position: -355px -110px;
}

.sprite-brl {
background-position: -355px -145px;
}

.sprite-burst {
background-position: -355px -180px;
}

.sprite-byteball {
background-position: -355px -215px;
}

.sprite-byteballbytes {
background-position: -355px -250px;
}

.sprite-bytecent {
background-position: -355px -285px;
}

.sprite-bytecoin {
background-position: -355px -320px;
}

.sprite-bytom {
background-position: -5px -355px;
}

.sprite-cad {
background-position: -40px -355px;
}

.sprite-caix {
background-position: -75px -355px;
}

.sprite-camorracoin {
background-position: -110px -355px;
}

.sprite-cannabiscoin {
background-position: -145px -355px;
}

.sprite-cardano {
background-position: -180px -355px;
}

.sprite-carpediemcoin {
background-position: -215px -355px;
}

.sprite-casinocoin {
background-position: -250px -355px;
}

.sprite-catcoin {
background-position: -285px -355px;
}

.sprite-centra {
background-position: -320px -355px;
}

.sprite-centrality {
background-position: -355px -355px;
}

.sprite-chaincoin {
background-position: -390px -5px;
}

.sprite-chainlink {
background-position: -390px -40px;
}

.sprite-chancecoin {
background-position: -390px -75px;
}

.sprite-chf {
background-position: -390px -110px;
}

.sprite-chncoin {
background-position: -390px -145px;
}

.sprite-chococoin {
background-position: -390px -180px;
}

.sprite-chronobank {
background-position: -390px -215px;
}

.sprite-cindicator {
background-position: -390px -250px;
}

.sprite-cinni {
background-position: -390px -285px;
}

.sprite-circuitsofv {
background-position: -390px -320px;
}

.sprite-civic {
background-position: -390px -355px;
}

.sprite-clams {
background-position: -5px -390px;
}

.sprite-cleanwatercoin {
background-position: -40px -390px;
}

.sprite-cloakcoin {
background-position: -75px -390px;
}

.sprite-cny {
background-position: -110px -390px;
}

.sprite-cobinhood {
background-position: -145px -390px;
}

.sprite-coeval {
background-position: -180px -390px;
}

.sprite-cofoundit {
background-position: -215px -390px;
}

.sprite-coin21 {
background-position: -250px -390px;
}

.sprite-coin2 {
background-position: -285px -390px;
}

.sprite-coindash {
background-position: -320px -390px;
}

.sprite-coino {
background-position: -355px -390px;
}

.sprite-coinomat {
background-position: -390px -390px;
}

.sprite-coinousd {
background-position: -425px -5px;
}

.sprite-communitycoin {
background-position: -425px -40px;
}

.sprite-cortex {
background-position: -425px -75px;
}

.sprite-counterparty {
background-position: -425px -110px;
}

.sprite-crave {
background-position: -425px -145px;
}

.sprite-creditbit {
background-position: -425px -180px;
}

.sprite-credits {
background-position: -425px -215px;
}

.sprite-crevacoin {
background-position: -425px -250px;
}

.sprite-crown {
background-position: -425px -285px;
}

.sprite-cryptcoin {
background-position: -425px -320px;
}

.sprite-crypti {
background-position: -425px -355px;
}

.sprite-crypto bullion {
background-position: -425px -390px;
}

.sprite-crypto20 {
background-position: -5px -425px;
}

.sprite-cryptobuk {
background-position: -40px -425px;
}

.sprite-cryptobullion {
background-position: -75px -425px;
}

.sprite-cryptocoins {
background-position: -110px -425px;
}

.sprite-cryptonex {
background-position: -145px -425px;
}

.sprite-cryptonite {
background-position: -180px -425px;
}

.sprite-curecoin {
background-position: -215px -425px;
}

.sprite-cvcoin {
background-position: -250px -425px;
}

.sprite-czacoin {
background-position: -285px -425px;
}

.sprite-czechcrowncoin {
background-position: -320px -425px;
}

.sprite-darcrus {
background-position: -355px -425px;
}

.sprite-darkcoin {
background-position: -390px -425px;
}

.sprite-darknote {
background-position: -425px -425px;
}

.sprite-dash {
background-position: -460px -5px;
}

.sprite-databits {
background-position: -460px -40px;
}

.sprite-daxxcoin {
background-position: -460px -75px;
}

.sprite-daytradercoin {
background-position: -460px -110px;
}

.sprite-debune {
background-position: -460px -145px;
}

.sprite-decent {
background-position: -460px -180px;
}

.sprite-decred {
background-position: -460px -215px;
}

.sprite-deepbrainchain {
background-position: -460px -250px;
}

.sprite-deeponion {
background-position: -460px -285px;
}

.sprite-default {
background-position: -460px -320px;
}

.sprite-dent {
background-position: -460px -355px;
}

.sprite-dentacoin {
background-position: -460px -390px;
}

.sprite-deutsche.emark {
background-position: -460px -425px;
}

.sprite-deutscheemark {
background-position: -5px -460px;
}

.sprite-devcoin {
background-position: -40px -460px;
}

.sprite-dew {
background-position: -75px -460px;
}

.sprite-diamond {
background-position: -110px -460px;
}

.sprite-digibyte {
background-position: -145px -460px;
}

.sprite-digibytelogo {
background-position: -180px -460px;
}

.sprite-digipulse {
background-position: -215px -460px;
}

.sprite-digitalcoin {
background-position: -250px -460px;
}

.sprite-digitalnote {
background-position: -285px -460px;
}

.sprite-digixdao {
background-position: -320px -460px;
}

.sprite-dirac {
background-position: -355px -460px;
}

.sprite-district0x {
background-position: -390px -460px;
}

.sprite-dnotes {
background-position: -425px -460px;
}

.sprite-dnotes2 {
background-position: -460px -460px;
}

.sprite-dogecoin {
background-position: -495px -5px;
}

.sprite-dogecoindark {
background-position: -495px -40px;
}

.sprite-dogeparty {
background-position: -495px -75px;
}

.sprite-dollar {
background-position: -495px -145px;
}

.sprite-dopecoin {
background-position: -495px -180px;
}

.sprite-doubloons {
background-position: -495px -215px;
}

.sprite-dragonchain {
background-position: -495px -250px;
}

.sprite-dubaicoin {
background-position: -495px -285px;
}

.sprite-e-dinarcoin {
background-position: -495px -320px;
}

.sprite-earthcoin {
background-position: -495px -355px;
}

.sprite-eb3coin {
background-position: -495px -390px;
}

.sprite-eboost {
background-position: -495px -425px;
}

.sprite-ecccoin {
background-position: -495px -460px;
}

.sprite-ecobit {
background-position: -5px -495px;
}

.sprite-ecoin {
background-position: -40px -495px;
}

.sprite-ecurrencycoin {
background-position: -75px -495px;
}

.sprite-edgeless {
background-position: -110px -495px;
}

.sprite-edinarcoin {
background-position: -145px -495px;
}

.sprite-einsteinium {
background-position: -180px -495px;
}

.sprite-elastic {
background-position: -215px -495px;
}

.sprite-elastos {
background-position: -250px -495px;
}

.sprite-electra {
background-position: -285px -495px;
}

.sprite-electroneum {
background-position: -320px -495px;
}

.sprite-electronic-gulden {
background-position: -355px -495px;
}

.sprite-electronicgulden {
background-position: -390px -495px;
}

.sprite-embers {
background-position: -425px -495px;
}

.sprite-emc {
background-position: -460px -495px;
}

.sprite-emercoin {
background-position: -495px -495px;
}

.sprite-encryptotel {
background-position: -530px -5px;
}

.sprite-energycoin {
background-position: -530px -40px;
}

.sprite-enigma {
background-position: -530px -75px;
}

.sprite-enjincoin {
background-position: -530px -110px;
}

.sprite-eos {
background-position: -530px -145px;
}

.sprite-eryllium {
background-position: -530px -180px;
}

.sprite-espers {
background-position: -530px -215px;
}

.sprite-ethercoin {
background-position: -530px -250px;
}

.sprite-ethereum {
background-position: -530px -285px;
}

.sprite-ethereumclassic {
background-position: -530px -320px;
}

.sprite-ethereummovi {
background-position: -530px -355px;
}

.sprite-etheroll {
background-position: -530px -390px;
}

.sprite-ethos {
background-position: -530px -425px;
}

.sprite-eur {
background-position: -530px -460px;
}

.sprite-everex {
background-position: -530px -495px;
}

.sprite-exclusivecoin {
background-position: -5px -530px;
}

.sprite-execoin {
background-position: -40px -530px;
}

.sprite-expanse {
background-position: -75px -530px;
}

.sprite-experiencepo {
background-position: -110px -530px;
}

.sprite-experiment10k {
background-position: -145px -530px;
}

.sprite-experiment-10k {
background-position: -180px -530px;
}

.sprite-experiment10k {
background-position: -215px -530px;
}

.sprite-experment10k {
background-position: -250px -530px;
}

.sprite-extreme2 {
background-position: -285px -530px;
}

.sprite-extreme {
background-position: -320px -530px;
}

.sprite-extremecoin {
background-position: -355px -530px;
}

.sprite-factom {
background-position: -390px -530px;
}

.sprite-faircoin {
background-position: -425px -530px;
}

.sprite-fastcoin {
background-position: -460px -530px;
}

.sprite-favela_da_mare {
background-position: -495px -530px;
}

.sprite-feathercoin {
background-position: -530px -530px;
}

.sprite-fedoracoin {
background-position: -565px -5px;
}

.sprite-fibre {
background-position: -565px -40px;
}

.sprite-fimkrypto {
background-position: -565px -75px;
}

.sprite-firstblood {
background-position: -565px -110px;
}

.sprite-firstbloodprelaunch {
background-position: -565px -145px;
}

.sprite-firstcoin {
background-position: -565px -180px;
}

.sprite-flappycoin {
background-position: -565px -215px;
}

.sprite-florincoin {
background-position: -565px -250px;
}

.sprite-fluttercoin {
background-position: -565px -285px;
}

.sprite-foldingcoin {
background-position: -565px -320px;
}

.sprite-freemarket {
background-position: -565px -355px;
}

.sprite-freicoin {
background-position: -565px -390px;
}

.sprite-freshcoin {
background-position: -565px -425px;
}

.sprite-fuelcoin {
background-position: -565px -460px;
}

.sprite-funfair {
background-position: -565px -495px;
}

.sprite-fusion {
background-position: -565px -530px;
}

.sprite-gambit {
background-position: -5px -565px;
}

.sprite-gamecredits {
background-position: -40px -565px;
}

.sprite-ziftrcoin {
background-position: -75px -565px;
}

.sprite-ganjacoin {
background-position: -110px -565px;
}

.sprite-gas {
background-position: -145px -565px;
}

.sprite-gbp {
background-position: -180px -565px;
}

.sprite-geocoin {
background-position: -215px -565px;
}

.sprite-getgems {
background-position: -250px -565px;
}

.sprite-gifto {
background-position: -285px -565px;
}

.sprite-givecoin {
background-position: -320px -565px;
}

.sprite-globalcurren {
background-position: -355px -565px;
}

.sprite-glyph {
background-position: -390px -565px;
}

.sprite-gnosis {
background-position: -425px -565px;
}

.sprite-goldcoin {
background-position: -460px -565px;
}

.sprite-golem {
background-position: -495px -565px;
}

.sprite-golos {
background-position: -530px -565px;
}

.sprite-grandcoin {
background-position: -565px -565px;
}

.sprite-greenbacks {
background-position: -600px -5px;
}

.sprite-gridcoin {
background-position: -600px -40px;
}

.sprite-groestlcoin {
background-position: -600px -75px;
}

.sprite-gulden {
background-position: -600px -110px;
}

.sprite-guldencoin {
background-position: -600px -180px;
}

.sprite-gxchain {
background-position: -600px -215px;
}

.sprite-gxshares {
background-position: -600px -250px;
}

.sprite-hackergold {
background-position: -600px -285px;
}

.sprite-happycoin {
background-position: -600px -320px;
}

.sprite-heat {
background-position: -600px -355px;
}

.sprite-hellascoin {
background-position: -600px -390px;
}

.sprite-hkd {
background-position: -600px -425px;
}

.sprite-hobonickels {
background-position: -600px -460px;
}

.sprite-horizon {
background-position: -600px -495px;
}

.sprite-hshare {
background-position: -600px -530px;
}

.sprite-htmlcoin {
background-position: -600px -565px;
}

.sprite-humaniq {
background-position: -5px -600px;
}

.sprite-huntercoin {
background-position: -40px -600px;
}

.sprite-hyper {
background-position: -75px -600px;
}

.sprite-hyperstake {
background-position: -110px -600px;
}

.sprite-i0coin {
background-position: -145px -600px;
}

.sprite-icash {
background-position: -180px -600px;
}

.sprite-ico {
background-position: -215px -600px;
}

.sprite-icoin {
background-position: -250px -600px;
}

.sprite-icon {
background-position: -285px -600px;
}

.sprite-iconomi {
background-position: -320px -600px;
}

.sprite-icoopenledger {
background-position: -355px -600px;
}

.sprite-iexec {
background-position: -390px -600px;
}

.sprite-iexecrlc {
background-position: -425px -600px;
}

.sprite-ignis {
background-position: -460px -600px;
}

.sprite-incakoin {
background-position: -495px -600px;
}

.sprite-incent {
background-position: -530px -600px;
}

.sprite-infinitecoin {
background-position: -565px -600px;
}

.sprite-influxcoin {
background-position: -600px -600px;
}

.sprite-inr {
background-position: -635px -5px;
}

.sprite-insanecoin {
background-position: -635px -40px;
}

.sprite-instantdex {
background-position: -635px -75px;
}

.sprite-insurex {
background-position: -635px -110px;
}

.sprite-iocoin2 {
background-position: -635px -145px;
}

.sprite-iocoin {
background-position: -635px -180px;
}

.sprite-ion {
background-position: -635px -215px;
}

.sprite-iostoken {
background-position: -635px -250px;
}

.sprite-iota {
background-position: -635px -285px;
}

.sprite-isracoin {
background-position: -635px -320px;
}

.sprite-jackpot {
background-position: -635px -355px;
}

.sprite-jackpotcoin {
background-position: -635px -390px;
}

.sprite-jay {
background-position: -635px -425px;
}

.sprite-jinn {
background-position: -635px -460px;
}

.sprite-jl777hodl {
background-position: -635px -495px;
}

.sprite-jpy {
background-position: -635px -530px;
}

.sprite-jumbucks {
background-position: -635px -565px;
}

.sprite-karma {
background-position: -635px -600px;
}

.sprite-kin {
background-position: -5px -635px;
}

.sprite-klondikecoin {
background-position: -40px -635px;
}

.sprite-kolschcoin {
background-position: -75px -635px;
}

.sprite-komodo {
background-position: -110px -635px;
}

.sprite-krugercoin {
background-position: -145px -635px;
}

.sprite-krypton {
background-position: -180px -635px;
}

.sprite-kucoinshares {
background-position: -215px -635px;
}

.sprite-kybernetwork {
background-position: -250px -635px;
}

.sprite-lbry_credits {
background-position: -285px -635px;
}

.sprite-lbrycredits {
background-position: -320px -635px;
}

.sprite-pinkcoin {
    width: 21px;
    height: 25px;
    background-position: -950px -5px;
	background-size: 976px 942px;
}

.sprite-librexcoin {
background-position: -390px -635px;
}

.sprite-limecoinx {
background-position: -425px -635px;
}

.sprite-liquid {
background-position: -460px -635px;
}

.sprite-lisk {
background-position: -495px -635px;
}

.sprite-litecoin {
background-position: -530px -635px;
}

.sprite-lomocoin {
background-position: -565px -635px;
}

.sprite-loomnetwork {
background-position: -600px -635px;
}

.sprite-loopring {
background-position: -635px -635px;
}

.sprite-lottoshares {
background-position: -670px -5px;
}

.sprite-ltbcoin {
background-position: -670px -40px;
}

.sprite-luckchain {
background-position: -670px -75px;
}

.sprite-luckycoin {
background-position: -670px -110px;
}

.sprite-lunyr {
background-position: -670px -145px;
}

.sprite-lux {
background-position: -670px -180px;
}

.sprite-luxcoin {
background-position: -670px -215px;
}

.sprite-lykke {
background-position: -670px -250px;
}

.sprite-magi {
background-position: -670px -285px;
}

.sprite-magiccoin {
background-position: -670px -320px;
}

.sprite-maidsafecoin {
background-position: -670px -355px;
}

.sprite-maker {
background-position: -670px -390px;
}

.sprite-maryjane {
background-position: -670px -425px;
}

.sprite-mastercoin {
background-position: -670px -495px;
}

.sprite-mastercoinomni {
background-position: -670px -530px;
}

.sprite-matchpool {
background-position: -670px -565px;
}

.sprite-maxcoin {
background-position: -670px -600px;
}

.sprite-mazacoin {
background-position: -670px -635px;
}

.sprite-mcap {
background-position: -5px -670px;
}

.sprite-medibloc {
background-position: -40px -670px;
}

.sprite-megacoin {
background-position: -75px -670px;
}

.sprite-melon {
background-position: -110px -670px;
}

.sprite-memorycoin {
background-position: -145px -670px;
}

.sprite-mergecoin {
background-position: -180px -670px;
}

.sprite-metal {
background-position: -215px -670px;
}

.sprite-metaverseent {
background-position: -250px -670px;
}

.sprite-metaverseetp {
background-position: -285px -670px;
}

.sprite-mgw {
background-position: -320px -670px;
}

.sprite-midas-rezerv {
background-position: -355px -670px;
}

.sprite-midas.rezerv {
background-position: -390px -670px;
}

.sprite-mincoin {
background-position: -425px -670px;
}

.sprite-mintcoin {
background-position: -495px -670px;
}

.sprite-missing {
background-position: -530px -670px;
}

.sprite-mithril {
background-position: -565px -670px;
}

.sprite-mixin {
background-position: -600px -670px;
}

.sprite-mmnxt {
background-position: -635px -670px;
}

.sprite-mobilego {
background-position: -670px -670px;
}

.sprite-monaco {
background-position: -705px -5px;
}

.sprite-monacoin {
background-position: -705px -40px;
}

.sprite-monero {
background-position: -705px -75px;
}

.sprite-monetaryunit {
background-position: -705px -110px;
}

.sprite-monetha {
background-position: -705px -145px;
}

.sprite-mooncoin {
background-position: -705px -180px;
}

.sprite-mothership {
background-position: -705px -215px;
}

.sprite-muse {
background-position: -705px -250px;
}

.sprite-musicoin {
background-position: -705px -285px;
}

.sprite-mxn {
background-position: -705px -320px;
}

.sprite-mybittoken {
background-position: -705px -355px;
}

.sprite-myriad {
background-position: -705px -390px;
}

.sprite-myriadcoin {
background-position: -705px -425px;
}

.sprite-mysterium {
background-position: -705px -460px;
}

.sprite-namecoin {
background-position: -705px -495px;
}

.sprite-nano {
background-position: -705px -530px;
}

.sprite-nas {
background-position: -705px -565px;
}

.sprite-nautiluscoin {
background-position: -705px -600px;
}

.sprite-navajo {
background-position: -705px -635px;
}

.sprite-navajocoin {
background-position: -705px -670px;
}

.sprite-navcoin {
background-position: -5px -705px;
}

.sprite-neblio {
background-position: -40px -705px;
}

.sprite-nebulas {
background-position: -75px -705px;
}

.sprite-nem {
background-position: -110px -705px;
}

.sprite-neo {
background-position: -145px -705px;
}

.sprite-neodice {
background-position: -180px -705px;
}

.sprite-neoscoin {
background-position: -215px -705px;
}

.sprite-netcoin {
background-position: -250px -705px;
}

.sprite-newyorkcoin {
background-position: -285px -705px;
}

.sprite-nexium {
background-position: -320px -705px;
}

.sprite-nexus economy {
background-position: -355px -705px;
}

.sprite-nexus {
background-position: -390px -705px;
}

.sprite-nexuseconomy {
background-position: -425px -705px;
}

.sprite-nimiq {
background-position: -460px -705px;
}

.sprite-noblecoin {
background-position: -495px -705px;
}

.sprite-node {
background-position: -530px -705px;
}

.sprite-noirshares {
background-position: -565px -705px;
}

.sprite-nolimitcoin {
background-position: -600px -705px;
}

.sprite-novacoin {
background-position: -635px -705px;
}

.sprite-nubits {
background-position: -670px -705px;
}

.sprite-numeraire {
background-position: -705px -705px;
}

.sprite-nushares {
background-position: -740px -5px;
}

.sprite-nvo {
background-position: -740px -40px;
}

.sprite-nxt {
background-position: -740px -75px;
}

.sprite-nxtprivacy {
background-position: -740px -110px;
}

.sprite-nxttycoin {
background-position: -740px -145px;
}

.sprite-nxtventure {
background-position: -740px -180px;
}

.sprite-obits {
background-position: -740px -215px;
}

.sprite-octocoin {
background-position: -740px -250px;
}

.sprite-okcash {
background-position: -740px -285px;
}

.sprite-omisego {
background-position: -740px -320px;
}

.sprite-omni {
background-position: -740px -355px;
}

.sprite-omnicoin {
background-position: -740px -390px;
}

.sprite-ontology {
background-position: -740px -425px;
}

.sprite-opal {
background-position: -740px -460px;
}

.sprite-orbitcoin {
background-position: -740px -495px;
}

.sprite-ost {
background-position: -740px -530px;
}

.sprite-paccoin {
background-position: -740px -565px;
}

.sprite-pacoin {
background-position: -740px -600px;
}

.sprite-pandacoin {
background-position: -740px -635px;
}

.sprite-pandacoin_coin_transparent {
background-position: -740px -670px;
}

.sprite-zetacoin {
background-position: -740px -705px;
}

.sprite-pangeapoker {
background-position: -5px -740px;
}

.sprite-pangeapokercoin {
background-position: -40px -740px;
}

.sprite-particl {
background-position: -75px -740px;
}

.sprite-particle {
background-position: -145px -740px;
}

.sprite-pascalcoin {
background-position: -180px -740px;
}

.sprite-patientory {
background-position: -215px -740px;
}

.sprite-paycoin {
background-position: -250px -740px;
}

.sprite-paypie {
background-position: -285px -740px;
}

.sprite-peercoin {
background-position: -320px -740px;
}

.sprite-peerplays {
background-position: -355px -740px;
}

.sprite-pepecash {
background-position: -390px -740px;
}

.sprite-phoenixcoin {
background-position: -425px -740px;
}

.sprite-php {
background-position: -460px -740px;
}

.sprite-piggycoin {
background-position: -495px -740px;
}

.sprite-pillar {
background-position: -530px -740px;
}

.sprite-zennies {
background-position: -565px -740px;
}

.sprite-pivx {
background-position: -600px -740px;
}

.sprite-pln {
background-position: -635px -740px;
}

.sprite-pluton {
background-position: -670px -740px;
}

.sprite-poet {
background-position: -705px -740px;
}

.sprite-polybius {
background-position: -740px -740px;
}

.sprite-polymath {
background-position: -775px -5px;
}

.sprite-popularcoin {
background-position: -775px -40px;
}

.sprite-populous {
background-position: -775px -75px;
}

.sprite-positron {
background-position: -775px -110px;
}

.sprite-postcoin {
background-position: -775px -145px;
}

.sprite-potcoin {
background-position: -775px -215px;
}

.sprite-potcoinlogo {
background-position: -775px -250px;
}

.sprite-powerledger {
background-position: -775px -285px;
}

.sprite-primecoin {
background-position: -775px -320px;
}

.sprite-privatebet {
background-position: -775px -355px;
}

.sprite-prizm {
background-position: -775px -390px;
}

.sprite-projectdecorum {
background-position: -775px -425px;
}

.sprite-pseudocash {
background-position: -775px -460px;
}

.sprite-pundix {
background-position: -775px -495px;
}

.sprite-pura {
background-position: -775px -530px;
}

.sprite-putincoin {
background-position: -775px -565px;
}

.sprite-qash {
background-position: -775px -600px;
}

.sprite-qibuck {
background-position: -775px -635px;
}

.sprite-qora {
background-position: -775px -670px;
}

.sprite-qtum {
background-position: -775px -705px;
}

.sprite-quantstamp {
background-position: -775px -740px;
}

.sprite-quantum {
background-position: -5px -775px;
}

.sprite-quantumresis {
background-position: -75px -775px;
}

.sprite-quark {
background-position: -110px -775px;
}

.sprite-quatloocoin {
background-position: -145px -775px;
}

.sprite-qwark {
background-position: -180px -775px;
}

.sprite-r-270x250 {
background-position: -215px -775px;
}

.sprite-radium {
background-position: -250px -775px;
}

.sprite-raiblocks {
background-position: -285px -775px;
}

.sprite-raidennetwor {
background-position: -320px -775px;
}

.sprite-razor {
background-position: -355px -775px;
}

.sprite-rchain {
background-position: -390px -775px;
}

.sprite-redcoin {
background-position: -425px -775px;
}

.sprite-reddcoin {
background-position: -460px -775px;
}

.sprite-regalcoin {
background-position: -495px -775px;
}

.sprite-requestnetwork {
background-position: -530px -775px;
}

.sprite-revain {
background-position: -565px -775px;
}

.sprite-rialto {
background-position: -600px -775px;
}

.sprite-ribbitrewards {
background-position: -635px -775px;
}

.sprite-riecoin {
background-position: -670px -775px;
}

.sprite-rimbit {
background-position: -705px -775px;
}

.sprite-ripiocredit {
background-position: -775px -775px;
}

.sprite-rise {
background-position: -810px -5px;
}

.sprite-rlc {
background-position: -810px -40px;
}

.sprite-roulettetoken {
background-position: -810px -75px;
}

.sprite-round {
background-position: -810px -110px;
}

.sprite-roxcoin {
background-position: -810px -145px;
}

.sprite-rub {
background-position: -810px -180px;
}

.sprite-rubycoin {
background-position: -810px -215px;
}

.sprite-safeexchang {
background-position: -810px -285px;
}

.sprite-safeexchange {
background-position: -810px -320px;
}

.sprite-safeexchangecoin {
background-position: -810px -355px;
}

.sprite-saffroncoin {
background-position: -810px -390px;
}

.sprite-salt {
background-position: -810px -425px;
}

.sprite-salus {
background-position: -810px -460px;
}

.sprite-santimentnet {
background-position: -810px -495px;
}

.sprite-sapience aifx {
background-position: -810px -530px;
}

.sprite-saturn2coin {
background-position: -810px -565px;
}

.sprite-scorecoin {
background-position: -810px -600px;
}

.sprite-scotcoin {
background-position: -810px -635px;
}

.sprite-securecoin {
background-position: -810px -670px;
}

.sprite-sek {
background-position: -810px -705px;
}

.sprite-sembro.token {
background-position: -810px -740px;
}

.sprite-sequence {
background-position: -810px -775px;
}

.sprite-sexcoin {
background-position: -5px -810px;
}

.sprite-sgd {
background-position: -40px -810px;
}

.sprite-shadowcash {
background-position: -110px -810px;
}

.sprite-zencash {
background-position: -145px -810px;
}

.sprite-shadowcoin {
background-position: -180px -810px;
}

.sprite-sharkfund0 {
background-position: -215px -810px;
}

.sprite-shift {
background-position: -250px -810px;
}

.sprite-siacoin {
background-position: -285px -810px;
}

.sprite-sibcoin {
background-position: -320px -810px;
}

.sprite-silkcoin {
background-position: -355px -810px;
}

.sprite-singulardtv {
background-position: -390px -810px;
}

.sprite-sirinlabstoken {
background-position: -425px -810px;
}

.sprite-sixeleven {
background-position: -460px -810px;
}

.sprite-skycoin {
background-position: -495px -810px;
}

.sprite-skynet {
background-position: -530px -810px;
}

.sprite-slimcoin {
background-position: -565px -810px;
}

.sprite-smartcash {
background-position: -600px -810px;
}

.sprite-smileycoin {
background-position: -635px -810px;
}

.sprite-snowballs {
background-position: -670px -810px;
}

.sprite-soarcoin {
background-position: -705px -810px;
}

.sprite-solarcoin {
background-position: -740px -810px;
}

.sprite-solarfarm {
background-position: -775px -810px;
}

.sprite-solorfarm {
background-position: -810px -810px;
}

.sprite-sonm {
background-position: -845px -5px;
}

.sprite-sophiatx {
background-position: -845px -40px;
}

.sprite-spectrecoin {
background-position: -845px -75px;
}

.sprite-sphere {
background-position: -845px -110px;
}

.sprite-sportyco {
background-position: -845px -145px;
}

.sprite-spreadcoin {
background-position: -845px -180px;
}

.sprite-sprouts {
background-position: -845px -215px;
}

.sprite-starta {
background-position: -845px -250px;
}

.sprite-startcoin {
background-position: -845px -285px;
}

.sprite-status {
background-position: -845px -320px;
}

.sprite-stealthcoin {
background-position: -845px -355px;
}

.sprite-steem {
background-position: -845px -390px;
}

.sprite-steemdollars {
background-position: -845px -425px;
}

.sprite-stellar {
background-position: -845px -460px;
}

.sprite-stellarlumens {
background-position: -845px -495px;
}

.sprite-sterlingcoin {
background-position: -845px -530px;
}

.sprite-storj {
background-position: -845px -565px;
}

.sprite-storjcoin x {
background-position: -845px -600px;
}

.sprite-storjcoin {
background-position: -845px -635px;
}

.sprite-storjcoinx {
background-position: -845px -670px;
}

.sprite-storm {
background-position: -845px -705px;
}

.sprite-stox {
background-position: -845px -740px;
}

.sprite-stratis {
background-position: -845px -775px;
}

.sprite-substratum {
background-position: -845px -810px;
}

.sprite-supercoin {
background-position: -5px -845px;
}

.sprite-supernet {
background-position: -40px -845px;
}

.sprite-swarm {
background-position: -75px -845px;
}

.sprite-swarmcity {
background-position: -110px -845px;
}

.sprite-sync {
background-position: -145px -845px;
}

.sprite-synccoin {
background-position: -180px -845px;
}

.sprite-syndicate {
background-position: -215px -845px;
}

.sprite-synereo {
background-position: -250px -845px;
}

.sprite-synergy {
background-position: -285px -845px;
}

.sprite-syscoin {
background-position: -320px -845px;
}

.sprite-taas {
background-position: -355px -845px;
}

.sprite-tekcoin {
background-position: -390px -845px;
}

.sprite-tenx {
background-position: -425px -845px;
}

.sprite-terracoin {
background-position: -460px -845px;
}

.sprite-teslacoin {
background-position: -495px -845px;
}

.sprite-tether {
background-position: -530px -845px;
}

.sprite-tezos {
background-position: -565px -845px;
}

.sprite-thechampcoin {
background-position: -600px -845px;
}

.sprite-thedao {
background-position: -635px -845px;
}

.sprite-tickets {
background-position: -670px -845px;
}

.sprite-tilecoin {
background-position: -740px -845px;
}

.sprite-timenewbank {
background-position: -775px -845px;
}

.sprite-titcoin {
background-position: -810px -845px;
}

.sprite-tixcoin {
background-position: -845px -845px;
}

.sprite-tokencard {
background-position: -880px -5px;
}

.sprite-tokes {
background-position: -880px -40px;
}

.sprite-tradebots {
background-position: -880px -75px;
}

.sprite-triggers {
background-position: -880px -110px;
}

.sprite-tron {
background-position: -880px -145px;
}

.sprite-trumpcoin {
background-position: -880px -180px;
}

.sprite-trustplus {
background-position: -880px -215px;
}

.sprite-ubiq {
background-position: -880px -250px;
}

.sprite-ucicoin {
background-position: -880px -285px;
}

.sprite-ufocoin {
background-position: -880px -320px;
}

.sprite-ultracoin {
background-position: -880px -355px;
}

.sprite-unbreakablecoin {
background-position: -880px -390px;
}

.sprite-unityingot {
background-position: -880px -425px;
}

.sprite-unobtanium {
background-position: -880px -495px;
}

.sprite-uro-coin-logo {
background-position: -880px -530px;
}

.sprite-uro {
background-position: -880px -565px;
}

.sprite-usd {
background-position: -880px -600px;
}

.sprite-usde {
background-position: -880px -635px;
}

.sprite-utilitycoin {
background-position: -880px -670px;
}

.sprite-utilitycoin.png {
background-position: -880px -705px;
}

.sprite-utrust {
background-position: -880px -740px;
}

.sprite-vanillacoin {
background-position: -880px -775px;
}

.sprite-vcash {
background-position: -880px -810px;
}

.sprite-vechain {
background-position: -880px -845px;
}

.sprite-veltor {
background-position: -5px -880px;
}

.sprite-verge {
background-position: -40px -880px;
}

.sprite-vericoin {
background-position: -110px -880px;
}

.sprite-veritaseum {
background-position: -145px -880px;
}

.sprite-veriumreserve {
background-position: -180px -880px;
}

.sprite-veros {
background-position: -215px -880px;
}

.sprite-vertacoin {
background-position: -250px -880px;
}

.sprite-vertcoin {
background-position: -285px -880px;
}

.sprite-viacoin {
background-position: -320px -880px;
}

.sprite-vibe {
background-position: -355px -880px;
}

.sprite-virtacoin {
background-position: -390px -880px;
}

.sprite-vootcoin {
background-position: -425px -880px;
}

.sprite-voxels {
background-position: -460px -880px;
}

.sprite-vpncoin {
background-position: -495px -880px;
}

.sprite-vslice {
background-position: -530px -880px;
}

.sprite-vslice_white {
background-position: -565px -880px;
}

.sprite-vtorrent {
background-position: -600px -880px;
}

.sprite-wagerr {
background-position: -635px -880px;
}

.sprite-walton {
background-position: -670px -880px;
}

.sprite-waltonchain {
background-position: -705px -880px;
}

.sprite-wanchain {
background-position: -740px -880px;
}

.sprite-wankcoin {
background-position: -775px -880px;
}

.sprite-waves {
background-position: -810px -880px;
}

.sprite-wavescommuni {
background-position: -845px -880px;
}

.sprite-wax {
background-position: -880px -880px;
}

.sprite-waykichain {
background-position: -915px -5px;
}

.sprite-wetrust {
background-position: -915px -40px;
}

.sprite-whitecoin {
background-position: -915px -75px;
}

.sprite-wildbeastblock {
background-position: -915px -110px;
}

.sprite-wings {
background-position: -915px -145px;
}

.sprite-woodcoin {
background-position: -915px -180px;
}

.sprite-worldcoin {
background-position: -915px -215px;
}

.sprite-xaurum {
background-position: -915px -250px;
}

.sprite-xcurrency {
background-position: -915px -285px;
}

.sprite-xljhog {
background-position: -915px -320px;
}

.sprite-xrp {
background-position: -915px -355px;
}

.sprite-xtrabytes {
background-position: -915px -390px;
}

.sprite-xxxcoin {
background-position: -915px -425px;
}

.sprite-ybcoin {
background-position: -915px -460px;
}

.sprite-ybcoin_logo_60 {
background-position: -915px -495px;
}

.sprite-yocoin {
background-position: -915px -530px;
}

.sprite-zar {
background-position: -915px -565px;
}

.sprite-zcash {
background-position: -915px -600px;
}

.sprite-zccoin {
background-position: -915px -635px;
}

.sprite-zclassic {
background-position: -915px -670px;
}

.sprite-zcoin {
background-position: -915px -705px;
}

.sprite-zeitcoin {
background-position: -915px -740px;
}

.sprite-zrcoin {
background-position: -915px -775px;
}

.sprite-gameleaguecoin {
  background-position: -915px -810px;
}

.sprite-adelphoi {
  background-position: -915px -845px;
}

.sprite-pangea poker {
  background-position: -915px -880px;
}

.sprite-1 {
  background-position: -355px -635px;
}
