<footer class='footer-container'>
  <ul class="footer-container__left-nav-links">
    <li><a href='/privacy'>Privacy Policy</a></li>
    <li><a href='/disclaimer'>Terms & Conditions</a></li>
    <li><a href='/about'>About Backyard Crypto</a></li>
    <li><a href='/contact'>Contact Us</a></li>
    <li><a>Send Feedback</a></li>
  </ul>
  <div class="footer-container__right-nav-links social-links">
    <a href="https://www.facebook.com/Backyardcrypto" class="footer-container__social-icon-container">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://twitter.com/BackyardCrypto" class="footer-container__social-icon-container">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="" class="footer-container__social-icon-container">
      <i class="fab fa-google-plus-g"></i>
    </a>
    <a href="" class="footer-container__social-icon-container">
      <i class="fas fa-rss"></i>
    </a>
    <a href="mailto:info@backyardcrypto.com" class="footer-container__social-icon-container">
      <i class="fas fa-envelope"></i>
    </a>
  </div>
</footer>
