<div class="controls center">

	<button class="btn prevPage"><i class="icon-chevron-left"></i><i class="icon-chevron-left"></i> Previous</button>

	<div class="btn-group">
		<button class="btn pause"><i class="icon-pause"></i> pause</button>
		<button class="btn resume"><i class="icon-play"></i> resume</button>
		<button class="btn toggle"><i class="icon-pause"></i> toggle</button>
	</div>

	<button class="btn nextPage">Next <i class="icon-chevron-right"></i><i class="icon-chevron-right"></i></button>

</div>